{% extends "layouts/basic.html" %}
{% load staticfiles %}
{% block page_title %}Oso{% endblock %}
{% block extra_css %} 
	{# <link rel="stylesheet" type="text/css" href={% static "css/base/home.css" %}> #}
{% endblock %}


{% block body_content %}
<div class='row'>
    <h1 class='text-center'>Bienvenido al Sistema de Inventarios Oso</h1>
</div>
<div class='row'>
    <h2>Consulta lo que necesites<h2>
</div>
<div class='row text-center'>
    <a href="{% url 'inventory:new_sku' %}" class="btn btn-lg btn-warning">Cargar Nuevo SKU</a>
	<a href="{% url 'inventory:query_inventory' %}" class="btn btn-lg btn-primary">Consultar Inventario</a>
</div>

{# <div class='row text-center'>#}
    {# <img class="img-fluid" src={% static "images/Logo.png"%}> #}
{# </div>  #}

{% endblock %}

{% block footer_content %}
{% endblock %}