{% extends "layouts/basic.html" %}
{% load staticfiles %}
{% block page_title %}Estadísticas{% endblock %}
{% block extra_css %} 
{% endblock %}

{% block body_content %}
<div>
    Total Inventario:
    <strong>${{ total_cost }}</strong>
</div>
<br>
<div>
    Gasolina:
    <strong>${{ gasolina }}</strong>
</div>
<br>
<div>
    Producto Terminado Bodega 1:
    <strong>${{ producto_terminado_bodega_uno }}</strong>
</div>
<br>
<div>
    Producto Terminado Bodega 2:
    <strong>${{ producto_terminado_bodega_dos }}</strong>
</div>
<br>
<div>
    Accesorios:
    <strong>${{ accesorios }}</strong>
</div>
<br>
<div>
    Refacciones:
    <strong>${{ refacciones }}</strong>
</div>

{% endblock %}

{% block footer_content %}
{% endblock %}