{% extends "layouts/basic.html" %}
{% load staticfiles %}
{% block page_title %}Estadísticas{% endblock %}
{% block extra_css %} 
{% endblock %}

{% block body_content %}
<div>
    <strong>Total Inventario</strong>:
    ${{ total_cost }}
</div>
<br>
<div>
    <strong>Gasolina</strong>:
    ${{ gasolina }}
</div>
<br>
<div>
    <strong>Producto Terminado Bodega 1</strong>:
    ${{ producto_terminado_bodega_uno }}
</div>
<br>
<div>
    <strong>Producto Terminado Bodega 2</strong>:
    ${{ producto_terminado_bodega_dos }}
</div>
<br>
<div>
    <strong>Accesorios</strong>:
    ${{ accesorios }}
</div>
<br>
<div>
    <strong>Refacciones</strong>:
    ${{ refacciones }}
</div>

{% endblock %}

{% block footer_content %}
{% endblock %}