{% extends "layouts/basic.html" %}

{% block body_content %}
<div class="text-center container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1>Inicia sesión en el Sistema de Inventarios Oso</h1>

            {% if form.errors %}
            <p>Su usuario y contraseña no concuerdan. Porfavor intente de nuevo.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Su usuario no cuenta con acceso a esta página. Para proceder,
                por favor inicie sesión con una cuenta que tenga acceso.</p>
                {% else %}
                <p>Por favor inicie sesión para entrar a esta página.</p>
                {% endif %}
            {% endif %}

            <h2>Inicia sesión con tu Usuario</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                Usuario:
                <br>
                {{ form.username }}
                <br>

                Contraseña:
                <br>
                {{ form.password }}
                <br>
                <input class="btn btn-primary" type="submit" value="Iniciar Sesión" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
        </div>
    </div>
</div>
{% endblock %}